:root {
  --animation-duration: 0.5s;
  --translate-x-start: 0px;
  --rotation:30deg;
}
.card {
  border-radius: 20px;
  width: 20em;
  -webkit-user-drag: none; /* Chrome */
  pointer-events: none;
}

.card-container {
  border-radius: 20px;
  height: calc(100% - 5px);
  cursor: grab;
}
.card-container:active {
  cursor: grabbing;
}
.move-right {
  animation: move-right var(--animation-duration) ease-in;
  opacity: 0;
}
.move-in-from-left {
  animation: move-in-from-left var(--animation-duration) ease-in-out reverse;
}


@keyframes move-right {
  0% {
    transform: translateX(var(--translate-x-start)) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(1000px) rotate(var(--rotation));
    opacity: 1;
  }
}

@keyframes move-in-from-left {
  0% {
    transform: scale(1) rotate(0deg) ;
    opacity: 1;
  }
  50% {
    transform: scale(1.2) rotate(-9deg);
    opacity: 1;
  }
  100% {
    transform: scale(1) ;
    opacity: 1;
  }
}

